<div class="list-wrapper">
    <div class="list-item" *ngFor="let item of mediaList">
        <div class="list-item-image-wrapper">
            <a [routerLink]="[mediaType, item.id]">
                <img class="list-item-image" [src]="imgBaseUrl + item.poster_path"/>
            </a>
        </div>
        <div class="list-item-title">
            <span *ngIf="item.title; else show">{{item.title}}</span>
            <ng-template #show>
                <span>{{item.name}}</span>
            </ng-template>
        </div>
    </div>
</div>