<div class="media-details-wrapper">
    <div class="media-trailer-image-wrapper">
        <div class="media-button-container">
            <button (click)="goBack()">Go back</button>
        </div>
        <iframe class="media-trailer" *ngIf="trailerUrl; else backdrop" [src]="trailerUrl"></iframe>
        <ng-template #backdrop>
            <img class="media-image" [src]="'https://image.tmdb.org/t/p/original' + media?.backdrop_path"/>
        </ng-template>
    </div>
    <div *ngIf="mediaType === 'movie'; else tv" class="media-details-content">
        <div class="media-details-header">
            <h1>{{media?.title}}</h1>
            <div class="media-details-basic">
                <span>{{media?.release_date}} -</span>
                <span *ngFor="let item of media?.genres; let last = last">
                    {{item.name}}<ng-container *ngIf="!last">,</ng-container>
                </span>
                <span *ngIf="media?.runtime"> - {{media?.runtime | time }}</span>
            </div>
        </div>
        <div class="media-details-overview">
            <h3>Overview</h3>
            <span class="media-details-tagline">{{media?.tagline}}</span>
            <span>{{media?.overview}}</span>
        </div>
        <div class="media-details-misc">
            <div>
                <h4>Budget</h4>
                <span *ngIf="media?.budget != 0; else unavailable">{{media?.budget | currency}}</span>
            </div>
            <div>
                <h4>Revenue</h4>
                <span *ngIf="media?.revenue != 0; else unavailable">{{media?.revenue | currency}}</span>
            </div>
            <div>
                <h4>User rating</h4>
                <span *ngIf="media?.vote_average != 0; else unavailable">{{media?.vote_average! / 10 | percent: '1.0-0' }}</span>
            </div>
            <div>
                <h4>Status</h4>
                <span>{{media?.status}}</span>
            </div>
        </div>
    </div>
    <ng-template #tv>
        <div class="media-details-content">
            <div class="media-details-header">
                <h1>{{media?.name}}</h1>
                <div class="media-details-basic">
                    <span>
                        {{media?.first_air_date}} -
                    </span>
                    <span *ngFor="let item of media?.genres; let last = last">
                        {{item.name}}<ng-container *ngIf="!last">,</ng-container>
                    </span>
                </div>
            </div>
            <div class="media-details-overview">
                <h3>Overview</h3>
                <span class="media-details-tagline">{{media?.tagline}}</span>
                <span>
                    {{media?.overview}}
                </span>
            </div>
            <div class="media-details-misc">
                <div>
                    <h4>User rating</h4>
                    <span *ngIf="media?.vote_average != 0; else unavailable">{{media?.vote_average! / 10 | percent: '1.0-0' }}</span>
                </div>
                <div>
                    <h4>Status</h4>
                    <span>{{media?.status}}</span>
                </div>
                <div>
                    <h4>Type</h4>
                    <span>{{media?.type}}</span>
                </div>
                <div>
                    <h4>Seasons</h4>
                    <span>{{media?.number_of_seasons}}</span>
                </div>
                <div>
                    <h4>Episodes</h4>
                    <span>{{media?.number_of_episodes}}</span>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #unavailable>
    <span>N/A</span>
</ng-template>