.options-wrapper {
  width: 30%;
  margin: 0 auto;

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    .media-tabs {
      display: flex;
      justify-content: center;
  
      button {
        padding: 5px 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
      }
      
      button.selected {
        background-color: rgb(60, 138, 255);
        color: #fff;
        border-color: rgb(60, 138, 255);;
      }
    }
  
    .media-filter {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 15px;
  
      .media-filter-input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 25px;
        width: 100%
      }
    }
  }
}

